NEXT_PUBLIC_API_URL=http://localhost:8095/api
NEXT_PUBLIC_SITE_URL=http://localhost:3071
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
NEXT_PUBLIC_PAYPAL_CLIENT_ID=Aba4dkkygincBGNXspkg0R-ee79d_4xih6cKvAeh7yY4fzm7diCeXzuPCVg7tZOZkaxSzxKd9Pat3l_x
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com
